In [21]:
import pandas as pd
import numpy as np
from feature_engine import imputation as mdi
from feature_engine.encoding import CountFrequencyEncoder
from sklearn import preprocessing
from sklearn import model_selection
from sklearn import tree
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('z_train.csv')

In [3]:
df.drop(columns= 'enrollee_id', inplace=True)

In [4]:
columnas_nulas =df.isnull().sum()[(df.isnull().sum().sort_values(ascending=False)/df.shape[0])*100 > 0].index
columnas_nulas

Index(['gender', 'enrolled_university', 'education_level', 'major_discipline',
       'experience', 'company_size', 'company_type', 'last_new_job'],
      dtype='object')

In [7]:
df[columnas_nulas].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15326 entries, 0 to 15325
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               11725 non-null  object
 1   enrolled_university  15024 non-null  object
 2   education_level      14957 non-null  object
 3   major_discipline     13089 non-null  object
 4   experience           15276 non-null  object
 5   company_size         10592 non-null  object
 6   company_type         10435 non-null  object
 7   last_new_job         14987 non-null  object
dtypes: object(8)
memory usage: 958.0+ KB

In [14]:
df.head()

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,city_176,0.764,NaN,Has relevent experience,Part time course,Graduate,STEM,11,NaN,NaN,1,24,1.0

In [194]:
df[df.city == 'city_103']

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,city_103,0.92,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
7,city_103,0.92,Male,Has relevent experience,no_enrollment,Graduate,STEM,7,50-99,Pvt Ltd,1,46,1.0
8,city_103,0.92,NaN,Has relevent experience,no_enrollment,Graduate,STEM,17,10000+,Pvt Ltd,>4,123,0.0
10,city_103,0.92,Male,Has relevent experience,no_enrollment,Graduate,STEM,5,5000-9999,Pvt Ltd,1,108,0.0
15,city_103,0.92,NaN,Has relevent experience,no_enrollment,Graduate,STEM,1,50-99,Pvt Ltd,never,106,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15316,city_103,0.92,Male,Has relevent experience,no_enrollment,Graduate,STEM,5,500-999,Pvt Ltd,1,51,0.0
15317,city_103,0.92,Male,Has relevent experience,no_enrollment,Masters,STEM,9,50-99,Pvt Ltd,1,36,1.0
15320,city_103,0.92,Female,Has relevent experience,no_enrollment,Graduate,Humanities,7,10/49,Funded Startup,1,25,0.0
15322,city_103,0.92,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,NaN,NaN,4,52,1.0
15323,city_103,0.92,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,4,44,0.0

In [99]:
df.target.value_counts()

0.0    11502
1.0     3824
Name: target, dtype: int64

In [29]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns='target'), df.target, train_size=0.8)

# NULOS CATEGORICOS

In [64]:
categorico_nulos=mdi.CategoricalImputer('frequent', variables = ['gender', 'enrolled_university', 'education_level', 'major_discipline',
       'experience', 'company_size', 'company_type', 'last_new_job'])

In [65]:
df_sin_nulos=categorico_nulos.fit_transform(X_train)

visualizaciones

In [66]:
df_sin_nulos.isnull().sum()

city                      0
city_development_index    0
gender                    0
relevent_experience       0
enrolled_university       0
education_level           0
major_discipline          0
experience                0
company_size              0
company_type              0
last_new_job              0
training_hours            0
dtype: int64

In [67]:
df_sin_nulos_test=categorico_nulos.fit_transform(X_test)
df_sin_nulos_test.isna().sum()

city                      0
city_development_index    0
gender                    0
relevent_experience       0
enrolled_university       0
education_level           0
major_discipline          0
experience                0
company_size              0
company_type              0
last_new_job              0
training_hours            0
dtype: int64

# TRANSFORMACIONES

In [68]:
df_sin_nulos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12260 entries, 12352 to 2
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    12260 non-null  object
 1   city_development_index  12260 non-null  float64
 2   gender                  12260 non-null  object
 3   relevent_experience     12260 non-null  object
 4   enrolled_university     12260 non-null  object
 5   education_level         12260 non-null  object
 6   major_discipline        12260 non-null  object
 7   experience              12260 non-null  object
 8   company_size            12260 non-null  object
 9   company_type            12260 non-null  object
 10  last_new_job            12260 non-null  object
 11  training_hours          12260 non-null  int64
dtypes: float64(1), int64(1), object(10)
memory usage: 1.2+ MB

In [54]:
ordinales = ['relevent_experience','education_level', 'experience']

In [45]:
sorted(df_sin_nulos.education_level.unique())

['Graduate', 'High School', 'Masters', 'Phd', 'Primary School']

In [87]:
ordinal = preprocessing.OrdinalEncoder()
df_sin_nulos[ordinales] = ordinal.fit_transform(df_sin_nulos[ordinales])

In [88]:
df_sin_nulos_test[ordinales]=ordinal.fit_transform(df_sin_nulos_test[ordinales])

In [89]:
df_sin_nulos_test.isnull().sum()

city                      0
city_development_index    0
gender                    0
relevent_experience       0
enrolled_university       0
education_level           0
major_discipline          0
experience                0
company_size              0
company_type              0
last_new_job              0
training_hours            0
dtype: int64

In [90]:
categoricas= CountFrequencyEncoder(encoding_method = 'frequency',variables = ['city', 'gender', 'enrolled_university', 'major_discipline','company_size', 'company_type','last_new_job'] )
df_transformado = categoricas.fit_transform(df_sin_nulos)

In [91]:
df_transformado_test = categoricas.fit_transform(df_sin_nulos_test)

In [95]:
df_transformado_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3066 entries, 2929 to 11428
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    3066 non-null   float64
 1   city_development_index  3066 non-null   float64
 2   gender                  3066 non-null   float64
 3   relevent_experience     3066 non-null   float64
 4   enrolled_university     3066 non-null   float64
 5   education_level         3066 non-null   float64
 6   major_discipline        3066 non-null   float64
 7   experience              3066 non-null   float64
 8   company_size            3066 non-null   float64
 9   company_type            3066 non-null   float64
 10  last_new_job            3066 non-null   float64
 11  training_hours          3066 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 375.9 KB

## Reducción

In [181]:
df_transf_red = df_transformado[['city', 'city_development_index', 'relevent_experience',
       'company_size']]

In [182]:
df_transf_red_test = df_transformado_test[['city', 'city_development_index', 'relevent_experience',
       'company_size']]

# ESCALADO

In [97]:
df_transformado.describe()

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
count,12260.000000,12260.000000,12260.000000,12260.000000,12260.000000,12260.000000,12260.000000,12260.000000,12260.000000,12260.000000,12260.000000,12260.000000
mean,0.089930,0.829948,0.862803,0.278385,0.592367,0.686949,0.815624,12.961011,0.266115,0.701408,0.270167,65.406607
std,0.087218,0.122613,0.226687,0.448222,0.254499,0.990637,0.261516,6.609284,0.189012,0.295138,0.156627,59.988762
min,0.000082,0.448000,0.008972,0.000000,0.062072,0.000000,0.011909,0.000000,0.028711,0.006199,0.052855,1.000000
25%,0.009951,0.743000,0.926591,0.000000,0.196330,0.000000,0.901876,7.000000,0.078222,0.833361,0.152202,23.000000
50%,0.069902,0.910000,0.926591,0.000000,0.741599,0.000000,0.901876,14.000000,0.135644,0.833361,0.171370,47.000000
75%,0.141599,0.920000,0.926591,1.000000,0.741599,2.000000,0.901876,19.000000,0.466558,0.833361,0.442414,89.000000
max,0.227569,0.949000,0.926591,1.000000,0.741599,4.000000,0.901876,21.000000,0.466558,0.833361,0.442414,336.000000

In [98]:
Robusto  = preprocessing.RobustScaler()

In [102]:
df_escalado = pd.DataFrame(Robusto.fit_transform(df_transformado), columns = df_transformado.columns)

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,0.100372,0.000000,0.0,0.0,0.0,0.0,0.0,0.166667,-0.073514,0.000000,0.933952,-0.106061
1,1.197646,0.056497,0.0,0.0,0.0,0.0,0.0,0.000000,-0.073514,0.000000,-0.151771,0.954545
2,-0.456629,-0.610169,0.0,0.0,0.0,1.0,0.0,0.583333,-0.173703,0.000000,-0.405003,-0.257576
3,-0.412020,0.079096,0.0,0.0,0.0,0.5,0.0,-0.666667,0.852132,0.000000,0.000000,0.045455
4,0.100372,0.000000,0.0,0.0,0.0,0.0,0.0,0.083333,0.000000,-0.782137,-0.405003,0.393939
...,...,...,...,...,...,...,...,...,...,...,...,...
12255,-0.491326,-0.039548,0.0,0.0,0.0,1.0,0.0,0.416667,-0.147868,0.000000,0.933952,-0.530303
12256,0.544610,-1.615819,0.0,0.0,0.0,0.0,0.0,-0.833333,0.852132,0.000000,-0.151771,-0.196970
12257,-0.200124,0.056497,0.0,0.0,0.0,0.0,0.0,-0.666667,-0.073514,-0.783524,0.000000,-0.590909
12258,1.197646,0.056497,0.0,0.0,0.0,0.0,0.0,0.583333,0.852132,0.000000,0.933952,1.272727
12259,0.544610,-1.615819,0.0,1.0,-1.0,0.0,0.0,0.083333,0.852132,0.000000,-0.151771,0.545455

In [103]:
df_escalado_test = pd.DataFrame(Robusto.fit_transform(df_transformado_test), columns = df_transformado_test.columns)

## Escalado reducción

In [183]:
df_escalado_red = pd.DataFrame(Robusto.fit_transform(df_transf_red), columns = df_transf_red.columns)

In [184]:
df_escalado_red_test = pd.DataFrame(Robusto.fit_transform(df_transf_red_test), columns = df_transf_red_test.columns)

# Modelo

In [105]:
from sklearn.linear_model import LogisticRegression

In [111]:
from sklearn import feature_selection

In [106]:
logreg = LogisticRegression()

In [107]:
logreg.fit(df_escalado, y_train)

LogisticRegression()

In [108]:
logreg.score(df_escalado, y_train)

0.7725938009787928

In [109]:
logreg.score(df_escalado_test, y_test)

0.7726679712981083

In [116]:
logreg.coef_[0]

array([ 0.62424871, -1.13893138, -0.13428158,  0.35419467, -0.31115744,
       -0.32491473, -0.13506474,  0.0030999 ,  0.71503675,  0.19175833,
        0.12918612, -0.08425546])

In [119]:
logreg.feature_names_in_

array(['city', 'city_development_index', 'gender', 'relevent_experience',
       'enrolled_university', 'education_level', 'major_discipline',
       'experience', 'company_size', 'company_type', 'last_new_job',
       'training_hours'], dtype=object)

In [178]:
selector = feature_selection.RFE(logreg, n_features_to_select=4)

In [179]:
selector.fit(df_escalado,y_train)
selector.ranking_

array([1, 1, 6, 1, 3, 2, 5, 9, 1, 4, 7, 8])

In [180]:
selector.get_feature_names_out()

array(['city', 'city_development_index', 'relevent_experience',
       'company_size'], dtype=object)

# Version reducida

In [185]:
logreg.fit(df_escalado_red, y_train)

LogisticRegression()

In [186]:
logreg.score(df_escalado_red, y_train)

0.7702283849918434

In [187]:
logreg.score(df_escalado_red_test, y_test)

0.769406392694064

# Z_test

In [121]:
z_test = pd.read_csv('z_test.csv')

In [129]:
identificación = z_test[['enrollee_id']]

In [130]:
z_test.drop(columns= 'enrollee_id', inplace=True)

In [131]:
z_sin_nulos=categorico_nulos.fit_transform(z_test)

In [132]:
z_sin_nulos[ordinales] = ordinal.fit_transform(z_sin_nulos[ordinales])

In [133]:
z_transformado = categoricas.fit_transform(z_sin_nulos)

In [134]:
z_escalado = pd.DataFrame(Robusto.fit_transform(z_transformado), columns = z_transformado.columns)

In [148]:
z_pred = pd.DataFrame(logreg.predict_proba(z_escalado))

In [149]:
submission4=pd.concat((identificación,z_pred[0]), axis=1)
submission4

      enrollee_id         0
0           23603  0.753919
1           22499  0.833927
2           10465  0.624032
3            8293  0.930350
4            4246  0.757224
...           ...       ...
3827         8880  0.678375
3828         7886  0.859346
3829        12279  0.897962
3830         5326  0.891656
3831         4017  0.855717

[3832 rows x 2 columns]

In [141]:
submission4.rename(columns = {0:'target'}, inplace=True)

In [142]:
submission4.to_csv('submission_4.csv',index=False)

In [143]:
submission5=pd.concat((identificación,z_pred[1]), axis=1)

In [144]:
submission5.rename(columns = {1:'target'}, inplace=True)

In [177]:
submission5.to_csv('submission_5_correcto.csv',index=False)
submission5

      enrollee_id    target
0           23603  0.246081
1           22499  0.166073
2           10465  0.375968
3            8293  0.069650
4            4246  0.242776
...           ...       ...
3827         8880  0.321625
3828         7886  0.140654
3829        12279  0.102038
3830         5326  0.108344
3831         4017  0.144283

[3832 rows x 2 columns]

In [146]:
z_pred = pd.DataFrame(logreg.predict(z_escalado))

## Reduccion

In [188]:
z_transformado=z_transformado[['city', 'city_development_index', 'relevent_experience',
       'company_size']]

In [189]:
z_escalado = pd.DataFrame(Robusto.fit_transform(z_transformado), columns = z_transformado.columns)

In [190]:
z_pred_2 = pd.DataFrame(logreg.predict_proba(z_escalado))

In [191]:
submission6=pd.concat((identificación,z_pred[1]), axis=1)
submission6

      enrollee_id         1
0           23603  0.246081
1           22499  0.166073
2           10465  0.375968
3            8293  0.069650
4            4246  0.242776
...           ...       ...
3827         8880  0.321625
3828         7886  0.140654
3829        12279  0.102038
3830         5326  0.108344
3831         4017  0.144283

[3832 rows x 2 columns]

In [192]:
submission6.rename(columns = {1:'target'}, inplace=True)

In [193]:
submission6.to_csv('submission_6.csv',index=False)